[submodule "libpopcnt"]
	path = libpopcnt
	url = https://github.com/kimwalisch/libpopcnt.git
[submodule "magic-bits"]
	path = magic-bits
	url = https://github.com/cristivlas/magic-bits.git
[submodule "version2"]
	path = version2
	url = https://github.com/vectorclass/version2.git
[submodule "simde"]
	path = simde
	url = https://github.com/simd-everywhere/simde.git
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
